/*
Set background img
Set img to cover screen
*/
body {
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*
Top menu part
*/
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* use flexbox */
    justify-content: space-around; /* separate menu item equally */
}

nav {
    margin-top: 30px; /* Set the distance between menu container and top*/
}

.menu li {
    display: inline;
}

.menu a{
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-size: 40px;
    font-weight : bolder;
    font-style: italic 
}

/* Set style of topic and main content*/
header {
    color: white;
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 30px; /* title font size */
}

.title-background {
    width: 50px; 
    height: auto; 
    margin-right: 10px;
}



#main-content {
    color: white;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px; 
    line-height: 1.6; 
    font-size: 23px;
}

/* Decoration image of different signs*/
.zodiac-image {
    width: 200px;
    height: auto;
    float: left; 
    margin-right: 15px;
}

/* Decoration sections for different parts*/

.section-box {
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1px solid #fff; 
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.footer-social-media {
    text-align: center;
    padding: 20px;
}

.footer-social-media img {
    width: 30px;
    margin: 0 10px;
}
